<a href="https://colab.research.google.com/github/yellayujin/mulcamp34/blob/main/231227_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 리스트 (List)
- 가장 중요한 자료형
- 다른 프로그래밍언어에서는 배열(Array)
  + e.g. 1반의 과목별 수학점수: 다중의 데이터를 묶음

In [ ]:
student1 = [90, 95, 85, 80]
print(type(student1))

<class 'list'>

In [ ]:
greeting = 'Hello, Python!'
print(greeting[7])

P

In [ ]:
# greeting[7] = 'p'
# greeting은 str, not list

TypeError: ignored

In [ ]:
pal = ['채환', '주환', '지현','서연']

In [ ]:
pal[0] = 'A'

In [ ]:
pal

['채환', '주환', '지현', '서연']

In [ ]:
pa12 = pal + pal

In [ ]:
# 리스트 안의 리스트 인덱싱
mixed = [0, 2, 3, 'string', pal]

In [ ]:
mixed[-1][-1]

'서연'

In [ ]:
greeting

'Hello, Python!'

In [ ]:
greeting[0:5]

'Hello'

In [ ]:
greeting[::2]

'Hlo yhn'

In [ ]:
tuple_data = (0, 1,2,3,4,5,6,7,8,9)

In [ ]:
tuple_data

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
tuple_data[0] = 10

TypeError: ignored