<a href="https://colab.research.google.com/github/yellayujin/mulcamp34/blob/main/231229_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%2C_%EC%A1%B0%EA%B1%B4%EB%AC%B8%2C_%EB%B0%98%EB%B3%B5%EB%AC%B8%2C_Docstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 딕셔너리(dictionary)
- 구성: key-value
  + 문자열, 리스트, tuple: 데이터 조회 시, 인덱싱 또는 슬라이싱
  + 딕셔너리에서 값을 조회하는 방법은 key값을 통해 값을 조회
- 사용처
  + 데이터분석: 대용량 데이터의 임시데이터 만들어 가공 연습(테스트)
    JSON 데이터 포맷이 딕셔너리 형태임.
    + API 데이터 크롤링, 기본 자료형(JSON)-> 딕셔너리 변환 후 가공

In [ ]:
# 나라-수도 이름
country_capital ={
    '대한민국' : '서울', '프랑스' : '파리', '미국' : '워싱턴', '영국' : '런던'
}

country_capital    # 주의: key값은 중복으로 만들 수 없음

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
country_capital['대한민국']

'서울'

In [ ]:
data = {1:'버스', 3:'비행기'}
data

{1: '버스', 3: '비행기'}

In [ ]:
data[1]   # 여기서의 숫자 1은 리스트, 문자열, tuple에서의 인덱스 번호와는 다른 숫자임! 형태를 보고 착각하지 않도록.

'버스'

In [ ]:
data2 = {'list1': [1,2,3], 'list2': [4,5,6], 1:'테스트'}
data2

{'list1': [1, 2, 3], 'list2': [4, 5, 6], 1: '테스트'}

## 딕셔너리 다루기

In [ ]:
country_capital

{'대한민국': '서울', '프랑스': '파리', '미국': '워싱턴', '영국': '런던'}

In [ ]:
# value값 수정
country_capital['대한민국'] = '부산'

In [ ]:
# del (딕셔너리는 쌍으로 이루어졌으므로 key나 value등 하나는 남겨두고 하나만 삭제는 안 됨(None으로 표시는 가능))
del country_capital['영국']

country_capital

{'대한민국': '부산', '프랑스': '파리', '미국': '워싱턴'}

In [ ]:
country_capital['프랑스'] = None

In [ ]:
# 새로운 key: value 추가
country_capital['일본'] = '도쿄'

## 딕셔너리 메서드
![image.png]()

In [ ]:
type(country_capital)

# country_capital이라고 하는 딕셔너리 객체를 만들었음.
# Then 딕셔너리가 보유한 클래스 메서드(.keys()등)를 사용할 수 있음

dict

In [ ]:
print(type(country_capital.keys()))    # .keys()는 딕셔너리에서 키 전체를 리스트'형태'로 반환. 이것이 리스트라는 것은 아님. dict_keys임.
                                       # 따라서 list메서드(.append()등)를 사용할 수 없음. 쓰고싶으면 적절한 클래스로(list) 변환해야.

list(country_capital.keys())    # 데이터형 변환 to list

<class 'dict_keys'>

['대한민국', '프랑스', '미국', '일본']

In [ ]:
# 업데이트 just as '일본': '도쿄'
new = {'호주':'캔버라'}
country_capital.update(new)

# if 조건문
- 만약 조건이 True라면 ~를 해라
- 참과 거짓을 만드는 것이 포인트!
  + 조건문을 문장으로 먼저 만드는 훈련을 하는 것이 중요함.

In [ ]:
x = int(input('점수를 입력하세요: '))

if x>=80:
  print('합격을 축하드립니다.')

elif x>=70:
  print('조금만 더!')

else:
  print('ㅠㅠ')                         # 들여쓰기 안 하면 SyntaxError뜸(indentation이라고는 안 알려줌)

점수를 입력하세요: 78
조금만 더!

In [ ]:
x = int(input('성적을 입력하세요: '))

if x>= 90:
  print('귀하의 성적은 A입니다.')

elif x>=80:
  print('귀하의 성적은 B입니다.')

elif x>=70:
  print('귀하의 성적은 C입니다.')

elif x>=70:
  print('귀하의 성적은 D입니다.')

else:
  print('귀하의 성적은 F입니다.ㅠㅠ')

성적을 입력하세요: 90
귀하의 성적은 A입니다.

In [ ]:
# 중첩 조건문: if조건문 내부에 또다른 if 조건문 생성

# 반복문
- for loop, while

In [ ]:
# 반복문의 필요성
for i in range(10):
  print('Hello Python')

Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python
Hello Python

## for-loop 특징
- 반복 범위가 주어짐

In [ ]:
for i in range(3):
  print(f'{i+1}번째 Hello Python')

1번째 Hello Python
2번째 Hello Python
3번째 Hello Python

- 반복 범위 지정시, 시퀀스 자료형도 사용 가능
  + 오늘 블로그 주제: 시퀀스 자료형
    대표적인 것: 리스트, 문자열

In [ ]:
# 예시1(시퀀스 중 리스트)
nums = [1,2,3,4,5]

for num in nums:
  print(num)

1
2
3
4
5

In [ ]:
# 예시2(시퀀스 중 문자열)
strings = 'Hello'
for text in strings:
  print(text)

H
e
l
l
o

In [ ]:
# 예시3(시퀀스 중 튜플)
tuples = (1,2,3,4)
for num in tuples:
  print(num)

1
2
3
4

In [ ]:
# 예시4(시퀀스 중 딕셔너리)
country_capital
for country in country_capital:
  print(country)                                 # key값만 출력됨.

  print(country_capital[country])                # value원하면

  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국
부산
대한민국의 수도는 부산이다.
프랑스
None
프랑스의 수도는 None이다.
미국
워싱턴
미국의 수도는 워싱턴이다.
일본
도쿄
일본의 수도는 도쿄이다.
호주
캔버라
호주의 수도는 캔버라이다.

In [ ]:
for country in country_capital:
  print(f'{country}의 수도는 {country_capital[country]}이다.')

대한민국의 수도는 부산이다.
프랑스의 수도는 None이다.
미국의 수도는 워싱턴이다.
일본의 수도는 도쿄이다.
호주의 수도는 캔버라이다.

In [ ]:
# 중첩(Nested) for문
# 반복문 내 또다른 반복문
x_list = ['x1', 'x2']
y_list = ['y1', 'y2']

print('x1 y1')
print('x1 y2')
print('x2 y1')
print('x2 y2')

x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
for x in x_list:
  for y in y_list:
    print(x,y)

x1 y1
x1 y2
x2 y1
x2 y2

In [ ]:
for x in range(2,10):
  for y in range(1,10):
    if y==9:
      print(f'{x}*{y}={x*y}\n')         # 이 대신 안쪽 for문 바깥에 print('--')써도 됨! better
    else:
      print(f'{x}*{y}={x*y}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18

3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27

4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63

8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [ ]:
for x in range(1, 10):
  for y in range(1, 10):
    print(f'{x} * {y} = {x * y}')
  print("---")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
---
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
---
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
---
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
---
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
---
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
---
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
---
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
---

In [ ]:
names = ['A', 'B', 'C']
ages = [10, 20, 30]

for name, age in zip(names, ages):
  print(name, age)

A 10
B 20
C 30

In [ ]:
for idx, name in enumerate(names):
  print(idx, name)

0 A
1 B
2 C

## while문 특징
- for-loop 특징: 항상 반복문의 범위를 지정한다.
  + 몇 번 반복문을 수행할지 숫자로 지정
- while 특징: 조건문이 False가 될 때까지 반복문 수행
  + 조건문이 True면 무한 수행

In [ ]:
# 초기값 지정
i = 1
n = 3

while i<=n:                # 특정 조건에서 이 조건문이 False가 되도록 코드를 작성하는 것이 포인트!
  print(f'현재 {i}')
  i += 1

현재 1
현재 2
현재 3

## break문
- 중간에 반복문 강제 종료

## 문자열과 for-loop

In [ ]:
texts = 'Python'
for text in texts:
  print(text)
  if text == 't':
    break

P
y
t

## 리스트 컴프리헨션(List Comprehension)
- for-loop 및 for-loop if조건문 한 줄로 처리(pythonic code)
- https://docs.python.org/3/tutorial/datastructures.html#list-comprehensions
- 시각화 라이브러리(matplotlib, plotly) 옵션 설정 시 자주 사용

In [ ]:
# pythonic 코드
numbers = [1,2,3,4,5]
result = [1,4,9,16,25] # 를 만들고싶음

In [ ]:
numbers = [1,2,3,4,5]
temp1 = 1 ** 2
temp2 = 2 ** 2
result = []   # 빈 리스트 만들기

result.append(temp1)
result.append(temp2)         # idea
print(result)

[1]

In [ ]:
numbers = [1,2,3,4,5]        # 실행
result = []

for i in numbers:
  result.append(i ** 2)

result

[1, 4, 9, 16, 25]

In [ ]:
# 한 줄로 시행
numbers = [1,2,3,4,5]
result = [i ** 2 for i in numbers]        # 문법 차이 있음! 꼭 숙지
result

[1, 4, 9, 16, 25]

In [ ]:
result.append(i ** 2 for i in numbers)    # 이렇게 하면 결과 좀 다름.. 문법 숙지해야
result

[1,
 4,
 9,
 16,
 25,
 <generator object <genexpr> at 0x7b38ebb9a650>,
 <generator object <genexpr> at 0x7b38ebb9a3b0>]

In [ ]:
numbers = [1,2,3,4,5]
result = [i ** 2 for i in numbers if i >= 3]
result

[9, 16, 25]

# 파이썬 문서화(Docstring)
- (docstring의 3가지 형식)https://betterprogramming.pub/3-different-docstring-formats-for-python-d27be81e0d68
- https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html
- for readers, **양식 맞추어 작성**
- 프로젝트 진행
  + 3주 / 4주 ==> 마지막주에는
    - 2-3명, PPT 보고서 작성
    - 남은 인원, Docstring을 사용해서, 문서화
  + help() 명령어를 사용해서 불러오기 할 수 있음 (예. read_csv() 문서처럼 출력이 가능)

In [ ]:
def myPower(n):
  '''숫자 n을 입력하면 n의 거듭제곱 반환'''
  result = n ** 2
  return result

In [ ]:
print(myPower(3))

9

In [ ]:
print(myPower.__doc__)   # 주석처리했던 내용 나옴

숫자 n을 입력하면 n의 거듭제곱 반환

In [ ]:
print(print.__doc__)     # 빅분기 실기에서 help명령어 모르면 큰일남ㅜㅜ

print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.

In [ ]:
import pandas
pandas.merge.__doc__

'\nMerge DataFrame or named Series objects with a database-style join.\n\nA named Series object is treated as a DataFrame with a single named column.\n\nThe join is done on columns or indexes. If joining columns on\ncolumns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes\non indexes or indexes on a column or columns, the index will be passed on.\nWhen performing a cross merge, no column specifications to merge on are\nallowed.\n\n.. warning::\n\n    If both key columns contain rows where the key is a null value, those\n    rows will be matched against each other. This is different from usual SQL\n    join behaviour and can lead to unexpected results.\n\nParameters\n----------\nleft : DataFrame\nright : DataFrame or named Series\n    Object to merge with.\nhow : {\'left\', \'right\', \'outer\', \'inner\', \'cross\'}, default \'inner\'\n    Type of merge to be performed.\n\n    * left: use only keys from left frame, similar to a SQL left outer join;\n      preserve key order.\n    * right: use only keys from right frame, similar to a SQL right outer join;\n      preserve key order.\n    * outer: use union of keys from both frames, similar to a SQL full outer\n      join; sort keys lexicographically.\n    * inner: use intersection of keys from both frames, similar to a SQL inner\n      join; preserve the order of the left keys.\n    * cross: creates the cartesian product from both frames, preserves the order\n      of the left keys.\n\n      .. versionadded:: 1.2.0\n\non : label or list\n    Column or index level names to join on. These must be found in both\n    DataFrames. If `on` is None and not merging on indexes then this defaults\n    to the intersection of the columns in both DataFrames.\nleft_on : label or list, or array-like\n    Column or index level names to join on in the left DataFrame. Can also\n    be an array or list of arrays of the length of the left DataFrame.\n    These arrays are treated as if they are columns.\nright_on : label or list, or array-like\n    Column or index level names to join on in the right DataFrame. Can also\n    be an array or list of arrays of the length of the right DataFrame.\n    These arrays are treated as if they are columns.\nleft_index : bool, default False\n    Use the index from the left DataFrame as the join key(s). If it is a\n    MultiIndex, the number of keys in the other DataFrame (either the index\n    or a number of columns) must match the number of levels.\nright_index : bool, default False\n    Use the index from the right DataFrame as the join key. Same caveats as\n    left_index.\nsort : bool, default False\n    Sort the join keys lexicographically in the result DataFrame. If False,\n    the order of the join keys depends on the join type (how keyword).\nsuffixes : list-like, default is ("_x", "_y")\n    A length-2 sequence where each element is optionally a string\n    indicating the suffix to add to overlapping column names in\n    `left` and `right` respectively. Pass a value of `None` instead\n    of a string to indicate that the column name from `left` or\n    `right` should be left as-is, with no suffix. At least one of the\n    values must not be None.\ncopy : bool, default True\n    If False, avoid copy if possible.\nindicator : bool or str, default False\n    If True, adds a column to the output DataFrame called "_merge" with\n    information on the source of each row. The column can be given a different\n    name by providing a string argument. The column will have a Categorical\n    type with the value of "left_only" for observations whose merge key only\n    appears in the left DataFrame, "right_only" for observations\n    whose merge key only appears in the right DataFrame, and "both"\n    if the observation\'s merge key is found in both DataFrames.\n\nvalidate : str, optional\n    If specified, checks if merge is of specified type.\n\n    * "one_to_one" or "1:1": check if merge keys are unique in both\n      left and right datasets.\n    * "one_to_many" or "1:m": check if merge keys are unique in left\n      dataset.\n    * "many_to_one" or "m:1": check if merge keys are unique in right\n      dataset.\n    * "many_to_many" or "m:m": allowed, but does not result in checks.\n\nReturns\n-------\nDataFrame\n    A DataFrame of the two merged objects.\n\nSee Also\n--------\nmerge_ordered : Merge with optional filling/interpolation.\nmerge_asof : Merge on nearest keys.\nDataFrame.join : Similar method using indices.\n\nNotes\n-----\nSupport for specifying index levels as the `on`, `left_on`, and\n`right_on` parameters was added in version 0.23.0\nSupport for merging named Series objects was added in version 0.24.0\n\nExamples\n--------\n>>> df1 = pd.DataFrame({\'lkey\': [\'foo\', \'bar\', \'baz\', \'foo\'],\n...                     \'value\': [1, 2, 3, 5]})\n>>> df2 = pd.DataFrame({\'rkey\': [\'foo\', \'bar\', \'baz\', \'foo\'],\n...                     \'value\': [5, 6, 7, 8]})\n>>> df1\n    lkey value\n0   foo      1\n1   bar      2\n2   baz      3\n3   foo      5\n>>> df2\n    rkey value\n0   foo      5\n1   bar      6\n2   baz      7\n3   foo      8\n\nMerge df1 and df2 on the lkey and rkey columns. The value columns have\nthe default suffixes, _x and _y, appended.\n\n>>> df1.merge(df2, left_on=\'lkey\', right_on=\'rkey\')\n  lkey  value_x rkey  value_y\n0  foo        1  foo        5\n1  foo        1  foo        8\n2  foo        5  foo        5\n3  foo        5  foo        8\n4  bar        2  bar        6\n5  baz        3  baz        7\n\nMerge DataFrames df1 and df2 with specified left and right suffixes\nappended to any overlapping columns.\n\n>>> df1.merge(df2, left_on=\'lkey\', right_on=\'rkey\',\n...           suffixes=(\'_left\', \'_right\'))\n  lkey  value_left rkey  value_right\n0  foo           1  foo            5\n1  foo           1  foo            8\n2  foo           5  foo            5\n3  foo           5  foo            8\n4  bar           2  bar            6\n5  baz           3  baz            7\n\nMerge DataFrames df1 and df2, but raise an exception if the DataFrames have\nany overlapping columns.\n\n>>> df1.merge(df2, left_on=\'lkey\', right_on=\'rkey\', suffixes=(False, False))\nTraceback (most recent call last):\n...\nValueError: columns overlap but no suffix specified:\n    Index([\'value\'], dtype=\'object\')\n\n>>> df1 = pd.DataFrame({\'a\': [\'foo\', \'bar\'], \'b\': [1, 2]})\n>>> df2 = pd.DataFrame({\'a\': [\'foo\', \'baz\'], \'c\': [3, 4]})\n>>> df1\n      a  b\n0   foo  1\n1   bar  2\n>>> df2\n      a  c\n0   foo  3\n1   baz  4\n\n>>> df1.merge(df2, how=\'inner\', on=\'a\')\n      a  b  c\n0   foo  1  3\n\n>>> df1.merge(df2, how=\'left\', on=\'a\')\n      a  b  c\n0   foo  1  3.0\n1   bar  2  NaN\n\n>>> df1 = pd.DataFrame({\'left\': [\'foo\', \'bar\']})\n>>> df2 = pd.DataFrame({\'right\': [7, 8]})\n>>> df1\n    left\n0   foo\n1   bar\n>>> df2\n    right\n0   7\n1   8\n\n>>> df1.merge(df2, how=\'cross\')\n   left  right\n0   foo      7\n1   foo      8\n2   bar      7\n3   bar      8\n'

In [ ]:
def random(sep, header):
  '''
  This returns the sum of sep and header.

    Parameters:
      sep (str): ~~~~~(예시는 위ㅣ의 링크 참고)
      header (int): ~~~~~~~~

    Returns:
      c (int): Sum of ~~
  '''

  c = sep + header
  return c

In [ ]:
print(random.__doc__)

  This returns the sum of sep and header.

    Parameters:
      sep (str): ~~~~~(예시는 위ㅣ의 링크 참고)
      header (int): ~~~~~~~~

    Returns:
      c (int): Sum of ~~

## 클래스 상속
- 대분류 > 중분류 > 소분류

In [ ]:
class Animal:
  # Attribute(= 클래스 변수) 정의
  name = ""

  # 공통함수
  def eat(self):
    print("I eat")


class Dog(Animal):   # 클래스 상속을 했다 = 동물에서 개로 기능을 부여함(=> name = ""라고 쓸 필요 X)

  # 새로운 메서드
  def dance(self):
    print(f'{self.name} Dog dances.')

In [ ]:
# 객체 생성
a = Dog()
a.name = '두부'

a.eat()      # .eat()은 Animal의 메서드인데 상속받아서 가능

I eat

In [ ]:
b = Animal()
b.name = '코코'

b.eat()

I eat

In [ ]:
b.dance()
# AttributeError: Animal에는 dance메서드가 없음. a에서는 상속을 받아서 가능했음.

AttributeError: ignored

## 클래스 Docstring

In [ ]:
class Person:
  """
  자기소개하는 Person 클래스.

  Attributes:
  -----------
    name: str
      사람의 이름을 의미
    age: int
      사람의 나이를 의미
    grade: int
      사람의 현재 학년을 의미

  Methods
  ----------
  info(comment=""):
    사람의 개인정보를 출력

  """

  def __init__(self, name, age, grade):
    """
    여기도 이렇게 작성
    """


    self.name = name
    self.age = age
    self.grade = grade

  def info(self, comment = ""):
    """
    여기도 작성
    """
    print(f'내 이름은 {self.name}, 내 나이는 {self.age}, 현재 학년은 {self.grade}. {comment}')

In [ ]:
print(Person.__doc__)

  자기소개하는 Person 클래스.

  Attributes:
  -----------
    name: str
      사람의 이름을 의미
    age: int
      사람의 나이를 의미
    grade: int
      사람의 현재 학년을 의미

  Methods
  ----------
  info(comment=""):
    사람의 개인정보를 출력

In [ ]:
help(Person)

Help on class Person in module __main__:

class Person(builtins.object)
 |  Person(name, age, grade)
 |
 |  자기소개하는 Person 클래스.
 |
 |  Attributes:
 |  -----------
 |    name: str
 |      사람의 이름을 의미
 |    age: int
 |      사람의 나이를 의미
 |    grade: int
 |      사람의 현재 학년을 의미
 |
 |  Methods
 |  ----------
 |  info(comment=""):
 |    사람의 개인정보를 출력
 |
 |  Methods defined here:
 |
 |  __init__(self, name, age, grade)
 |      여기도 이렇게 작성
 |
 |  info(self, comment='')
 |      여기도 작성
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {}